body{
  background-color: black;
  font-family: helvetica;
  color: seashell;
  opacity: 0.9;
  margin: 0px;
}

/*header CSS should be independent of the rest*/
.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
/*  margin: 10px; */
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  padding: 10px;
}

.header li {
  list-style: none;
  display: inline-block;

}
.header li a{
  color: seashell;
  justify-content: flex-end;
  padding-right: 20px;

}
#logo{
  height: 50px;
}


h1{ /*whi do i need this in here? i have to keep  aspace in html for things to align correclty*/
    flex-grow: 1;
}

.mission{
/*  background image needs centered;*/
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1200px;
  margin: auto;
}
.stripe{
  background-color: black;
  flex-grow: 1;
}


/*set image constraints*/
img{
  height: 200px;
  width: 300px;
}

.tom{
  display: flex;
  flex-direction: column;
  text-align: center;

}
.tom2{
  display: flex;
  justify-content: center;
}
.tomcontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.loc{
  display: flex;
  height: 500px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  margin: auto;
  width: 1200px;
}
.lochead{
  display: block;
}
.locbox{
  display: flex;
  justify-content: center;
}
.loccontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  background-color: black;
}
.foot{
  text-align: center;
  background-color: black;
}
