body{
  background-color: grey;
  font-family: helvetica;
  color: red;
  opacity: 0.9;
}

/*header CSS should be independent of the rest*/
.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 10px;
  height: 50px;
  /*you can take out the background color here once body is black*/
  background-color: black;
}

.header li {
  list-style: none;
  display: inline-block;

}
.header li a{
  color: seashell;
  justify-content: flex-end;
  padding-right: 20px;

}
#logo{
  height: 50px;
}


h1{ /*whi do i need this in here? i have to keep  aspace in html for things to align correclty*/
    flex-grow: 1;
}

.mission{
/*  background image needs centered;*/
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.stripe{
  background-color: black;
  flex-grow: 1;
}


/*set image constraints*/
img{
  height: 200px;
  width: 300px;
}

.tom{
  display: flex;
  flex-direction: column;
  text-align: center;

}
.tom2{
  display: flex;
  justify-content: center;
}
.tomcontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.loc{
  display: flex;
  height: 500px;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg')

}
/*why the containter stretching to fit the loc containter*/
.locbox{
  display: flex;
  justify-content: center;
}
.loccontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  background-color: black;
}
.foot{
  text-align: center;
  background-color: black;
}

/*h2, h4{
  background-color: black;
}

/*
h2{
  flex-grow: 1;

}
*/

/*
.meat{
  display: flex;
}
.border{
  border: 3px solid red;
  padding-bottom: 25px;
}


.column{
  display: inline-flex;
  align-items: stretch;
  border: 3px solid blue;
}

#story1{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  display: flex;
}

#story2{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  display: flex;
  height: 250px;
}

#story3{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  display: flex;
  height: 250px;
}

#story4{
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  display: flex;
}

.ms{
  font-size: 40px;
}

.subcontain{
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
}

.substory{
  display: block;
  width: 50%;
  padding: 5px;
}

h3{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.large {
  width: 630px;

}

.medium {
  width: 300px;

}

.small {
  width: 240px;

}

img {
    max-width: 100%;
    max-height: 100%;
}
 .bitelist{
   background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    padding: 5px;
 }

#nb{
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 15px;
}

.under{
      border-bottom: 1.5px solid black;
}

.footcontain{
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: MediumAquamarine;
  justify-content: center;
  height: 500px;
  width: 1185px;
  margin-top: 20px;
  flex-direction: column;
}

.foot{
  display: inline-flex;
}
.foot li {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  font-size: 16px

}
.foot li a{
  color: black;
  margin: auto;
  justify-content: center;
}
*/
